// @import '~iview/src/styles/index.less';

@menu-dark-title: #001529;
@menu-dark-active-bg: #000c17;
@layout-sider-background: #001529;


.ag-theme-balham .ag-row-odd { background: #deebf7!important; }
.ivu-btn{
	background: #ccc;
	border-radius: 4px solid #ccc;
}
.ivu-btn:hover{
	background: #ccc;
	color:#515a6e;
}
.ivu-btn.ivu-btn-primary{
	background: #2d8cf0;
	border-radius: 4px solid #2d8cf0;
	
}
.ivu-input{ 
	width: 162px;
}