// @import '~iview/src/styles/index.less';

@menu-dark-title: #001529;
@menu-dark-active-bg: #000c17;
@layout-sider-background: #001529;


.ag-theme-balham .ag-row-odd { background: #deebf7!important; }
.dashboard-box{
  .ivu-select-dropdown{
  height: 80px!important;
  }
}
.ivu-form-item{
  margin-bottom:5px;
}
.ivu-select{
  width: 160px!important;
}
// ----pricePublish,priceCalculation表单样式----
.pricePublish, .priceCalculation{
  .ivu-form-item-label{
    float: left !important;
    min-width: 160px !important;
    text-align: right !important;
  }
}
.pricePublish, .priceCalculation{
  .ivu-form-item-content{
    float: right !important;
    min-width: 160px;
  }
}
.addform{
  .ivu-form-item-label{
    float: left !important;
    min-width: 120px !important;
    text-align: right !important;
  }
  .ivu-form-item-content{
    float: right !important;
    min-width: 160px;
  }
}